<h1>Edit a Post</h1>

<% if @post.errors.any? %>
	<h2>Errors</h2>
	<ul>
		<% @post.errors.full_messages.each do |message| %>
			<li><%= message %></li>		
		<% end %>
	</ul>

<% end %>

<p>
	<%= form_for @post do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</p>
	<p>
		<%= f.submit "Update" %>
	</p>
	<% end %>
</p>
